@charset "utf-8";
/* CSS Document */

body{ font-family:Arial, Helvetica, sans-serif; background:url(../img/back_acad.png) repeat; padding:0; margin:0;}
a{text-decoration:none;}
ul, li{list-style:none;}
p{margin:1px;padding:1px;}
input{padding:3px;}
h1,h2,h3{margin:0; padding:0;}
table tr th{font-weight:normal;}

#box-login{width: 300px; height: 150px; padding: 30px; background: #D93600; margin:0 auto;}
#box-login p{width: 60px; float:left; color: #fff;}

#box-login input{border:none;}

.bt-geral{width: 75px; height: 30px; background: #B20000; padding: 5px; color: #fff; border:none;}

.conteudo{width: 700px; min-height: 300px; background: #fff; margin:0 auto;}

.topo ul {width: 700px; height: 60px; background:#4F0000; margin: 0 auto;}
.topo ul li{display:inline; background: blue;}
.topo ul li a{float:left; width: 102px; height: 30px; padding: 5px 5px 25px 5px; margin:1px; background:  ; color:#fff; }
.topo ul li a:hover{background:#2B0000;}
.barra-op{width: 700px; height: 45px; background:; }
.barra-op a{float:left; margin: 0 0 0 50px;}
.barra-op form{float:left; }
.ativado{background:#2B0000;}