div#bar1 {
	background-color: #D93600;
	border: #D93600;
	color:#ffffff;
	text-shadow: 0 1px 0 #D93600;
}

/*-------Botao selecionado do navbar-------*/
a#cor {
	background-color: #4F0000;
	border: #4F0000;
	color:#ffffff;
	text-shadow: 0 1px 0 #4F0000;
}

/*sombra no botao selecionado*/
a#cor:focus {
	-webkit-box-shadow: 0 0 12px #4F0000;
	-moz-box-shadow: 0 0 12px #4F0000;
	box-shadow: 0 0 12px #4F0000;
}

/*-----------------------------------------*/

/*Outros dois botoes nao selecionado do navbar*/
a#cor1 {
	background-color: #960000;
	border: #960000;
	color:#ffffff;
	text-shadow: 0 1px 0 #960000;
}

/*click no botao*/
a#cor1:active {
	background-color: #4F0000;
	border: #4F0000;
	color:#ffffff;
	text-shadow: 0 1px 0 #4F0000;
	-webkit-box-shadow: 0 0 12px #4F0000;
	-moz-box-shadow: 0 0 12px #4F0000;
	box-shadow: 0 0 12px #4F0000;	
}
/*---------------------------------------------*/

/*----------------Botao voltar----------------*/
a#voltar {
	background-color: #e9e9e9;
	border: #e9e9e9;
	color:#0a0a0a;
	text-shadow: 0 1px 0 #e9e9e9;
}

a#voltar:active {
	background-color: #4F0000;
	border: #4F0000;
	color:#ffffff;
	text-shadow: 0 1px 0 #4F0000;
}
/*--------------------------------------------*/

/*-----------------Botao sair-----------------*/
a#sair {
	background-color: #e9e9e9;
	border: #e9e9e9;
	color:#0a0a0a;
	text-shadow: 0 1px 0 #e9e9e9;
}

a#sair:active {
	background-color: #4F0000;
	border: #4F0000;
	color:#ffffff;
	text-shadow: 0 1px 0 #4F0000;
}
/*--------------------------------------------*/

/*-----------Botao listar tabela--------------*/
a#lista_exec {
	background-color: #f9f9f9;
	border: #e9e9e9;
	color:#0a0a0a;
	text-shadow: 0 1px 0 #f9f9f9;
	-webkit-box-shadow: 0 0 3px #e9e9e9;
	-moz-box-shadow: 0 0 3px #e9e9e9;
	box-shadow: 0 0 3px #e9e9e9;	
	
}

a#lista_exec:active {
	background-color: #4F0000;
	border: #4F0000;
	color:#ffffff;
	text-shadow: 0 1px 0 #4F0000;
}
/*--------------------------------------------*/

/*--------------------dia--------------------*/
a#diaex {
	background-color: #f2f2f2;
	border: #f2f2f2;
	color:#000000;
	text-shadow: 0 1px 0 #f2f2f2;
	-webkit-box-shadow: 0 0 3px #cccccc;
	-moz-box-shadow: 0 0 3px #cccccc;
	box-shadow: 0 0 3px #cccccc;		
}

/*sombra no botao selecionado*/
a#diaex:active {
	background-color: #4F0000;
	border: #4F0000;
	color:#ffffff;
	text-shadow: 0 1px 0 #4F0000;
	-webkit-box-shadow: 0 0 12px #4F0000;
	-moz-box-shadow: 0 0 12px #4F0000;
	box-shadow: 0 0 12px #4F0000;
}
/*-------------------------------------------*/

/*---------------Tabela dados----------------*/
table#tabeladados {
	border: #606060;
}
/*-------------------------------------------*/
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p {
	text-align: center;
}

input#btlogin {
	background-color: #4F0000;
	border: #4F0000;
	color:#ffffff;
	text-shadow: 0 1px 0 #4F0000;
}

input#btlogin:active {
	background-color: #4F0000;
	border: #4F0000;
	color:#ffffff;
	text-shadow: 0 1px 0 #4F0000;
	-webkit-box-shadow: 0 0 12px #4F0000;
	-moz-box-shadow: 0 0 12px #4F0000;
	box-shadow: 0 0 12px #4F0000;	
}